{%- from "digital-land-frontend/components/related-content/macro.html" import dlRelatedContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Some content</p>
    </div>
    <div class="govuk-grid-column-one-third">
        {{ dlRelatedContent({
            "links": [
                {
                    "text": "Main content",
                    "href": "#"
                },
                {
                    "text": "Homepage",
                    "href": "#"
                },
                {
                    "text": "Another link",
                    "href": "#"
                }
            ]
        }) }}
    </div>
</div>
