{% from "govuk-jinja-components/components/footer/macro.jinja" import govukFooter -%}
{{ govukFooter({
    "meta": {
        "items": [
        {
            "href": "#",
            "text": "Help"
        },
        {
            "href": "#",
            "text": "Cookies"
        },
        {
            "href": "#",
            "text": "Contact"
        },
        {
            "href": "#",
            "text": "Terms and conditions"
        },
        {
            "href": "#",
            "text": "Rhestr o Wasanaethau Cymraeg"
        }
        ],
        "html": 'The <a href="https://github.com/digital-land/organisation-collection">organisation-collection</a> and <a href="https://github.com/digital-land/organisation">organisation</a> is <a href="https://github.com/digital-land/organisation/blob/master/LICENSE">open source</a>.'
    }
}) }}