appdirs
attrs
black
click
curlylint
dataclasses
-e git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
frontmatter
importlib-metadata
Markdown
MarkupSafe
mypy-extensions
parsy
pathspec
regex
toml
typed-ast
typing-extensions
zipp
