{% from "design-system/components/nav/macro.html" import sublevelNavItem %}
<div class="app-nav__subnav app-hide-mobile">
    <nav class="app-subnav">

        <ul class="app-subnav__section">
            {{ sublevelNavItem({"text": "Buttons", "url": "/components/button"}) }}
            {{ sublevelNavItem({"text": "Data item", "url": "/components/data-item"}) }}
            {{ sublevelNavItem({"text": "Feedback panel", "url": "/components/feedback-panel"}) }}
            {{ sublevelNavItem({"text": "Hero", "url": "/components/hero"}) }}
            {{ sublevelNavItem({"text": "Info text", "url": "/components/info-text"}) }}
            {{ sublevelNavItem({"text": "Input copy", "url": "/components/input-copy"}) }}
            {{ sublevelNavItem({"text": "Map", "url": "/components/map"}) }}
            {{ sublevelNavItem({"text": "Page feedback", "url": "/components/page-feedback"}) }}
            {{ sublevelNavItem({"text": "Related content", "url": "/components/related-content"}) }}
            {{ sublevelNavItem({"text": "Timeline", "url": "/components/timeline"}) }}
        </ul>

    </nav>

</div>