{% from "design-system/components/nav/macro.html" import sublevelNavMenu %}
<div class="app-nav__subnav app-hide-mobile">
    <nav class="app-subnav">

        {{ sublevelNavMenu({
            "current_path": path,
            "items": [
                { "text": "Autocomplete", "url": "autocomplete" },
                { "text": "Buttons", "url": "button" },
                { "text": "Data item", "url": "data-item" },
                { "text": "Data record", "url": "data-record" },
                { "text": "Data table", "url": "data-table" },
                { "text": "Document", "url": "document" },
                { "text": "Feedback", "url": "feedback" },
                { "text": "Filter group", "url": "filter-group" },
                { "text": "Hero", "url": "hero" },
                { "text": "Info text", "url": "info-text" },
                { "text": "Input copy", "url": "input-copy" },
                { "text": "List filter", "url": "list-filter" },
                { "text": "Map", "url": "map" },
                { "text": "Pagination", "url": "pagination" },
                { "text": "Related content", "url": "related-content" },
                { "text": "Sub nav tabs", "url": "sub-nav-tabs" },
                { "text": "Timeline", "url": "timeline" }
            ]
        }) }}

    </nav>

</div>