{% from "design-system/components/nav/macro.html" import sublevelNavMenu %}
<div class="app-nav__subnav app-hide-mobile">
    <nav class="app-subnav">

        {{ sublevelNavMenu({
            "current_path": path,
            "items": [
                { "text": "Accordion", "url": "accordion" },
                { "text": "Back link", "url": "back-link" },
                { "text": "Breadcrumbs", "url": "breadcrumbs" },
                { "text": "Button", "url": "button" },
                { "text": "Character count", "url": "character-count" },
                { "text": "Checkboxes", "url": "checkboxes" },
                { "text": "Date input", "url": "date-input" },
                { "text": "Details", "url": "details" },
                { "text": "Error message", "url": "error-message" },
                { "text": "Error summary", "url": "error-summary" },
                { "text": "Fieldset", "url": "fieldset" },
                { "text": "File upload", "url": "file-upload" },
                { "text": "Footer", "url": "footer" },
                { "text": "Header", "url": "header" },
                { "text": "Inset text", "url": "inset-text" },
                { "text": "Panel", "url": "panel" },
                { "text": "Phase banner", "url": "phase-banner" },
                { "text": "Radios", "url": "radios" },
                { "text": "Select", "url": "select" },
                { "text": "Summary list", "url": "summary-list" },
                { "text": "Table", "url": "table" },
                { "text": "Tabs", "url": "tabs" },
                { "text": "Tag", "url": "tag" },
                { "text": "Text input", "url": "text-input" },
                { "text": "Textarea", "url": "textarea" },
                { "text": "Warning text", "url": "warning-text" }
            ]
        }) }}

    </nav>

</div>