{% from "design-system/components/nav/macro.html" import sublevelNavItem %}
<div class="app-nav__subnav app-hide-mobile">
    <nav class="app-subnav">

        <ul class="app-subnav__section">
            {{ sublevelNavItem({"text": "Accordion", "url": "/govuk-components/accordion"}) }}
            {{ sublevelNavItem({"text": "Back link", "url": "/govuk-components/back-link"}) }}
            {{ sublevelNavItem({"text": "Breadcrumbs", "url": "/govuk-components/breadcrumbs"}) }}
            {{ sublevelNavItem({"text": "Button", "url": "/govuk-components/button"}) }}
        </ul>

    </nav>

</div>