{% from "design-system/components/nav/macro.html" import sublevelNavMenu %}
<div class="app-nav__subnav app-hide-mobile">
    <nav class="app-subnav">

        {{ sublevelNavMenu({
            "heading": "Base templates",
            "current_path": path,
            "items": [
                { "text": "Dlf base", "url": "dlf-base" },
                { "text": "Dlf base full width", "url": "dlf-base-full-width" }
            ]
        }) }}

        {{ sublevelNavMenu({
            "heading": "Page per thing",
            "current_path": path,
            "items": [
                { "text": "Index page", "url": "index-page" },
                { "text": "Record", "url": "record" }
            ]
        }) }}

    </nav>

</div>