{% macro designSystemExample(params) %}

{% if params.id %}
{% set exampleId = params.id %}
{% else %}
{% set exampleId = "example-test-id" %}
{% endif %}

<div class="app-example-wrapper" data-module="app-tabs">
  <div class="app-example__toolbar">
    <a href="{{ params.iframe.url }}" class="govuk-link" target="_blank"
      rel="noopener noreferrer">Open example in new window</a>
  </div>
  <div class="app-example">
    <iframe
      title="{{ params.iframe['title'] }}"
      data-module="app-example-frame"
      class="app-example__frame app-example__frame--resizable app-example__frame--{% if params.iframe['size'] %}{{ params.iframe['size'] }}{% else %}m{% endif %}"
      src="{{ params.iframe.url }}" loading="lazy" id="iFrameResizer3"
      scrolling="auto" frameborder="0"></iframe>
  </div>
  {% if params.example %}

  {% set tabs = params.example.tabs if params.example.tabs else ["HTML", "Jinja"] %}

  <ul class="app-tabs" role="tablist">
    {% for tab in tabs %}
    <li class="app-tabs__item js-tabs__item" role="presentation"><a
        href="#{{ exampleId }}-{{tab|lower}}" role="tab"
        aria-controls="{{ exampleId }}-{{tab|lower}}" data-track="tab-{{tab|lower}}">{{tab}}</a>
    </li>
    {% endfor %}
  </ul>

  {% set example_path = params.example.path  %}
  {% set jinja_include_path = "examples/" + example_path + "/" + params.iframe.url %}
  {% set component_abs_path = "src/" + example_path + "/" + params.iframe.url %}

  {% for tab in tabs %}
  <div class="app-tabs__heading js-tabs__heading">
    <a href="#{{ exampleId }}-{{tab|lower}}" role="tab"
      aria-controls="{{ exampleId }}-{{tab|lower}}">{{ tab }}</a>
  </div>
  <div class="app-tabs__container js-tabs__container" id="{{ exampleId }}-{{tab|lower}}">
    <div class="app-example__code">
      <pre><code class="{{tab|lower}}">
        {%- filter forceescape -%}
          {%- if tab|lower == "jinja" -%}
            {{- component_abs_path|raw_jinja }}
          {%- else -%}
{% include jinja_include_path %}
          {%- endif -%}
        {%- endfilter -%}
      </code></pre>
    </div>
  </div>
  {% endfor %}

  {% endif %}
</div><!-- end app-example-wrapper -->
{% endmacro %}