{% macro designSystemExample(params) %}

{% if params.id %}
{% set exampleId = params.id %}
{% else %}
{% set exampleId = "example-test-id" %}
{% endif %}

<div class="app-example-wrapper" data-module="app-tabs">
  <div class="app-example__toolbar">
    <a href="{{ params.iframe.url }}" class="govuk-link" target="_blank"
      rel="noopener noreferrer">Open example in new window</a>
  </div>
  <div class="app-example">
    <iframe
      title="{{ params.iframe['title'] }}"
      data-module="app-example-frame"
      class="app-example__frame app-example__frame--resizable app-example__frame--{% if params.iframe['size'] %}{{ params.iframe['size'] }}{% else %}m{% endif %}"
      src="{{ params.iframe.url }}" loading="lazy" id="iFrameResizer3"
      scrolling="auto" frameborder="0"></iframe>
  </div>
  {% if params.component %}
  {% set multipleTabs = true if params.component.tabs|length > 1 else false %}

  {% set tabs = params.component.tabs %}

  <ul class="app-tabs" role="tablist">
    {% for tab in tabs %}
    <li class="app-tabs__item js-tabs__item" role="presentation"><a
        href="#{{ exampleId }}-{{tab|lower}}" role="tab"
        aria-controls="{{ exampleId }}-{{tab|lower}}" data-track="tab-{{tab|lower}}">{{tab}}</a>
    </li>
    {% endfor %}
  </ul>

  {% set jinja_include_path = (params.component.include_path if params.component.include_path else "digital-land-frontend/components/") + params.component.name + "/" + params.iframe.url %}
  {% set component_abs_path = (params.component.source_path if params.component.source_path else "frontend/digital_land_frontend/templates/components/") + params.component.name + "/" + params.iframe.url %}
  {% for tab in tabs %}
  <div class="app-tabs__heading js-tabs__heading">
    <a href="#{{ exampleId }}-{{tab|lower}}" role="tab"
      aria-controls="{{ exampleId }}-{{tab|lower}}">{{ tab }}</a>
  </div>
  <div class="app-tabs__container js-tabs__container" id="{{ exampleId }}-{{tab|lower}}">
    <div class="app-example__code">
      <pre><code class="{{tab|lower}}">
              {%- if tab == "jinja" -%}
                  {{- component_abs_path|raw_jinja }}
              {%- else -%}
                  {%- filter forceescape -%}
{% include jinja_include_path %}
                  {%- endfilter -%}
              {%- endif -%}
      </code></pre>
    </div>
  </div>
  {% endfor %}

  {% endif %}
</div><!-- end app-example-wrapper -->
{% endmacro %}