{% macro toplevelNavItem(params) %}
{#{% set current_page_section = request.path | reduce_url_to_parent %}#}
{% set urlPath = urlPath|default("/") %}
<li
	class="app-nav__list-item{% if params.current %} app-nav--current-page{% endif %}">
	<a class="govuk-link" href="{{ urlPath }}{{ params.url }}"
		data-topnav="{{ params.text | upper }}">{{ params.text }}</a>
</li>
{% endmacro %}

{% macro sublevelNavItem(params) %}
{% set urlRoot = "" if params.current_item in ["/components", "/govuk-components", "/templates"]  else "../"  %}
<li
	class="app-subnav__section-item{% if params.classes %} {{ params.classes }}{% endif %}{% if params.current %} app-subnav__section-item--current{% endif %}">
	<a class="app-subnav__link govuk-link" href="{{ urlRoot }}{{ params.url }}">{{ params.text }}</a>
</li>
{% endmacro %}