{% extends "design-system-base.html" %}

{% from 'digital-land-frontend/components/feedback-panel/macro.html' import dlFeedbackPanel %}

{% block content %}

{% set menu_path = 'design-system/menus/' + section + '.html'  %}

<div class="app-nav__body govuk-width-container">
    {%- include menu_path -%}
    <div class="app-nav__content">
        <main id="main-content" class="app-content" role="main">
            {{ rendered_markdown|safe }}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {{ dlFeedbackPanel({
                "title": "Help improve this page",
                "html": 'If you’ve got a question, idea or suggestion share it with the digital land team on <a href="https://github.com/digital-land/design-system">github</a> or email us on <a href="mailto:DigitalLand@communities.gov.uk">digitalland@communities.gov.uk</a>'
            }) }}
        </main>
    </div>
</div>

{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script>
    // Initialise back to top
    var $btt = document.querySelector('[data-module*="back-to-top"]')
    new window.DLFrontend.BackToTop($btt).init({
        footer_selector: ".{{ backToTopSelector|default('govuk-footer') }}"
    });
</script>
<script>
    // Initialise tabs
    var $tabs = document.querySelectorAll('[data-module="app-tabs"]')
    $tabs.forEach(function ($tab) {
        new DLFrontend.AppTabs($tab).init()
    })
</script>
{% endblock %}