{% extends "digital-land-frontend/dlf-base.html" %}
{% from "govuk-jinja-components/components/phase-banner/macro.jinja" import govukPhaseBanner %}
{% from "govuk-jinja-components/components/breadcrumbs/macro.jinja" import govukBreadcrumbs %}

{% set htmlClasses = "dlf-page-wide" %}

{% block head %}
{{super()}}
<link href="{{ staticPath|default('/static') }}/stylesheets/dl-frontend.css" rel="stylesheet" />
<link href="{{ staticPath|default('/static') }}/stylesheets/styleguide.css" rel="stylesheet" />
{% endblock %}

{% block main %}

{% block beforeContent %}
{{ govukPhaseBanner({
			"classes": "govuk-width-container",
			"tag": {
				"text": "styleguide"
			},
			"html": 'This is a <a href="/design-system">styleguide for digital land</a>'
    }) }}

{% block topLevelNav %}
{%- include 'design-system/menus/top-level-nav.html' -%}
{% endblock %}
{% endblock %}


{% block content %}{% endblock %}


{% endblock %}

{% block footer %}
{% set github_url = "https://github.com/digital-land/design-system" %}
{% set licence_url = licence_url | default(github_url + 'blob/master/LICENSE') %}
{{ govukFooter({
    "classes": "app-footer app-footer--full",
    "containerClasses" : "app-width-container",
    "navigation": [
      {
        "title": "Related resources",
        "columns": 1,
        "items": [
          {
            "href": "https://design-system.service.gov.uk/",
            "text": "GOV.UK Design System"
          },
          {
            "href": "https://www.gov.uk/guidance/government-design-principles",
            "text": "Government Design Principles"
          },
          {
            "href": "https://www.gov.uk/service-manual",
            "text": "GOV.UK Service Manual"
          }
        ]
      }
    ],
    "meta": {
      "items": [
        {
          "href": "/cookies",
          "text": "Cookies"
        },
        {
          "href": "/accessibility-statement",
          "text": "Accessibility statement"
        },
        {
          "href": "/design-system",
          "text": "Design system"
        }
      ],
      "html": 'The <a class="govuk-footer__link" href="' + github_url + '">software</a> used to build these pages is <a class="govuk-footer__link" href="' + licence_url + '">open source</a>.'
    }
}) }}
{% endblock %}

{% block bodyEndScripts %}
{{ super() }}

{# required for on page syntax highlighting #}
<script src='/static/javascripts/vendor/highlight.pack.js'></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
{% endblock %}