<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link href="{{ staticPath|default('/static') }}/stylesheets/dl-frontend.css" rel="stylesheet" media="all" />
    <link href="{{ staticPath|default('/static') }}/stylesheets/styleguide.css" rel="stylesheet" media="all" />

    <!-- should make this optional, no need to load if not showing a map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

</head>

<body class="govuk-template__body app-example-page">
    <script>
        document.body.className = ((document.body.className) ? document.body.className +
            ' js-enabled' : 'js-enabled');
    </script>

    {%- block example -%}

    {% if add_width_container %}
    <div class="govuk-width-container">
        {%- include partial_name -%}
    </div>
    {% else %}
    {%- include partial_name -%}
    {% endif %}

    {%- endblock -%}
    </div>

    {% block bodyEnd %}
    <script src="{{ staticPath|default('/static') }}/javascripts/govuk/govuk-frontend.min.js"></script>
    <script>
        // initiate all GOVUK components
        window.GOVUKFrontend.initAll();
    </script>
    {# needs to come after govuk frontend #}
    <script src="{{ staticPath|default('/static') }}/javascripts/dl-frontend.js"></script>

    <!-- should move this to dl-frontend.js -->
    <script>
        const $inputCopyElements = document.querySelectorAll('[data-module*="input-copy"]')
        $inputCopyElements.forEach(function ($input) {
            new window.DLFrontend.InputCopy($input).init()
        })
    </script>
    {% endblock %}
</body>

</html>