<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <link href="{{ staticPath|default('/static') }}/stylesheets/application.css" rel="stylesheet" media="all" />
    <link href="{{ staticPath|default('/static') }}/stylesheets/vendor/govuk-accessible-autocomplete.min.css" rel="stylesheet" media="all" />

    {%- if display_map -%}
    {% include 'design-system/partials/dl-map-assets.html' %}
    {%- endif %}
</head>

<body class="govuk-template__body app-example-page">
    <script>
        document.body.className = ((document.body.className) ? document.body.className +
            ' js-enabled' : 'js-enabled');
    </script>

    {%- block example -%}

    {% if add_width_container %}
    <div class="govuk-width-container">
        {%- include partial_name -%}
    </div>
    {% else %}
    {%- include partial_name -%}
    {% endif %}

    {%- endblock -%}

    {% block bodyEnd %}
    <script src="{{ staticPath|default('/static') }}/javascripts/govuk/govuk-frontend.min.js"></script>
    <script>
        // initiate all GOVUK components
        window.GOVUKFrontend.initAll();
    </script>
    {# needs to come after govuk frontend #}
    <script src="{{ assetPath | default('/assets') }}/javascripts/digital-land-frontend.js"></script>
    <script>
      window.DLFrontend.initAll();
    </script>

    <script src="{{ staticPath|default('/static') }}/javascripts/vendor/govuk-accessible-autocomplete.min.js"></script>

    <!-- should move this to dl-frontend.js in an initAll() -->
    <script>
        const $inputCopyElements = document.querySelectorAll('[data-module*="input-copy"]')
        $inputCopyElements.forEach(function ($input) {
            new window.DLFrontend.InputCopy($input).init()
        })
    </script>

    <script>
        const $picker = document.querySelector('#organisation-search')
        if ($picker) {
            accessibleAutocomplete.enhanceSelectElement({
                selectElement: $picker
            })
        }
    </script>

    <script>
        var $data_tables = document.querySelectorAll('[data-module*="data-table"]')
        $data_tables.forEach(data_table => {
            new window.DLFrontend.ScrollableTables(data_table).init()
        })
    </script>


    <script>
        var $filters = document.querySelectorAll('[data-module="selected-counter"]')
        $filters.forEach(filter => {
            new window.DLFrontend.SelectedCounter(filter).init()
        })

        var $filterCheckboxes = document.querySelectorAll('[data-module="filter-checkboxes"]')
        $filterCheckboxes.forEach(el => {
            new window.DLFrontend.FilterCheckboxes(el).init()
        })
    </script>
    {% endblock %}
</body>
</html>
