{% extends "design-system-base.html" %}

{% from 'digital-land-frontend/components/hero/macro.html' import dlHero %}

{% block content %}

{% call dlHero({
  "classes": "govuk-width-container"
}) %}
<h1 class="govuk-heading-xl">Use digital land styles, components and patterns</h1>
<p class="govuk-body-l">Use this design system to make your service, pages or prototype consistent
  with Digital land. Reuse existing components and code to avoid repeating work
  that’s already been done.</p>
<button
  class="govuk-button dlf-secondary-button govuk-!-margin-top-0 govuk-!-margin-bottom-0">Get
  started</button>
{% endcall %}

<div class="govuk-width-container">
  <div class="app-nav__body govuk-main-wrapper govuk-main-wrapper--l">
    <main id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-l">Components</h2>
          <p class="govuk-body">Save time with reusable, accessible components for data, navigation,
            panels, tables and more.</p>
          <p>
            <a href="components" class="govuk-link govuk-!-font-weight-bold">Browse components</a>
          </p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-l">GOVUK</h2>
          <p class="govuk-body">Reuse the GOVUK components. We have ported them from nunjucks to
            jinja so they will work with Python.
          </p>
          <p>
            <a href="components" class="govuk-link govuk-!-font-weight-bold">Browse GOVUK
              components</a>
          </p>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-8"></div>
      </div>
    </main>
  </div>
</div>
{% endblock %}