{% macro dlStepByStepEntry(params) %}
{%- set itemHeading = params.heading %}
{% set ns = namespace(heading=params.heading) %}
{% if params.href %}
  {% set ns.heading %}
  <a href="{{ params.href }}" class="govuk-link govuk-link--no-visited-state">{{ params.heading }}</a>
  {% endset %}
{% endif %}
<li class="dl-sbs__entry
{%- if params.current %} dl-sbs__entry--current{% endif %}
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- if params.attributes %}
{%- for attribute, value in params.attributes.items() %} {{ attribute }}="{{ value }}"{% endfor %}
{%- endif %}>
    <h3 class="{{ params.heading_class|default('govuk-heading-s') }} dl-sbs__entry-heading">{{ ns.heading }}{% if params.current %}
      <strong class="govuk-tag govuk-tag--yellow">
        Active
      </strong>
    {% endif %}</h3>
    {% if params.meta -%}
    <p class="dl-timeline__entry-details govuk-body-s">
      {{ params.meta }}
    </p>
    {%- endif %}
    <div class="dl-timeline__entry__content">
    {%- if params.html %}
    {{ params.html|safe }}
    {%- elif params.text -%}
    <p class="dl-small-text dl-break-word">{{ params.text }}</p>
    {% endif -%}
    </div>
</li>
{% endmacro %}

{% macro dlStepByStep(params) %}
<ol {% if params.id %}id="{{ params.id }}" {% endif %}class="dl-sbs{{ ' ' + params.classes if params.classes }}">
    {% for entry in params.entries %}
    {{ dlStepByStepEntry(entry)}}
    {% endfor %}
    {%- if caller -%}
		{{ caller() }}
	{%- endif -%}
</ol>
{% endmacro %}
